body {
    margin: 0;
    padding: 0;
    overflow: clip;
    background: black;
}

canvas {
    display: block;
    margin: 7.5vh auto auto auto;
}

img, .none {
    display: none;
}

.artifact-information-overlay {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    background-color: black;
    color: white;
}
