body {
    margin: 0;
    padding: 0;
    overflow: clip;
    background: #808080;
}

#container {

    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    display: block;
    margin: 5rem auto auto auto;
}

img {
    display: none;
}


