body {
    margin: 0;
    padding: 0;
    overflow: clip;
    background: black;
}

canvas {
    display: block;
    margin: 7.5vh auto auto auto;
}

img, .none {
    display: none;
}

.artifact-information-overlay {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    background-color: black;
    color: white;
    display: none;
}

.artifact-information-overlay.displayed {
    display: block;
}

.artifact-information-overlay.displayed .continue-text{
    display: inline-block;
    opacity: 0; /* start invisible */
    width: fit-content;
    scale: 0;
    transform-origin: center;
    animation: fadeInDelayed 2s ease forwards;
    animation-delay: 5s; /* wait 5 seconds before starting */
}

@keyframes fadeInDelayed {
    from {
        opacity: 0;
        scale: 0;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}